@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
  font-display: swap;
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  color: #93005a;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

footer>a {
  font-size: 0.85em;
  color: #ff4b00;
}

input {
  margin-right: 0.3rem;
}

.routing {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid grey;
  border-radius: 12px;
  width: 100%;
}

h3 {
  margin-bottom: 1rem;
}

input {
  max-width: 100px;
}
